main{
  background-color:linear-gradient(to bottom,  rgba(255, 255, 255, 1) 0%, rgba(233, 233, 233, 0) 100%) ;
}
section{
 /*  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2rem 2fr;
}

section h3{
  grid-column: 1 / 4;
  margin-bottom: 1.25rem;
}
section h3 a {
  text-decoration: none;
  color: black;
}

section ul{
  margin-left: 2rem;
  width: 43.75rem;
  height: auto;
  border: 1px solid black;
  border-radius: 25px;
}
section ul li {
  border-top: 1px solid black;
  padding-left: 15px;
}
section ul li:first-child{
  border-top: none;
  border-top-right-radius: 25px;
  border-top-left-radius:25px ;
  background-color: #C0C0C0;
}
section ul li:last-child{
  border-bottom: none;
}
section ul li a{
  text-decoration: none;
  color: black;
}

